* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* color: white; */
}
/* Navtitle*/

/*Here nav is not any class.Its a TAG*/
/* nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.NavTitle {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
} */

.textColor {
  color: orange;
}

/*Header*/
.header {
  color: white;
  background-image: url("../images/banner/banner2.png");
  background-color: #000002;
  background-repeat: no-repeat;
  height: 800px;
  width: 1600px;
}
/*Banner*/
/* .bakgrnd{} */
.Banner {
  color: black;
  padding: 280px;
  /* display: flex; */
  /* text-align: right; */
  /*align-items:center; */
  /* text-align: left;
  justify-content: baseline; */
}
.mainText {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  margin-bottom: 24px;
  color: #151414;
}
.subText {
  color: #444343;
  font-style: normal;

  line-height: 26px;
  margin-bottom: 32px;
  /* or 162% */
  /* 
  text-align: right; */
}
.btnPrimary {
  background-color: peru;
  /* position: absolute; */
  /* width: 150px;*/
  height: 56px;

  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  padding: 20px 35px;
}
/*Main*/

main {
  max-width: 1072px;
  margin: 0 auto;
}
.about {
  display: flex;
  align-items: center;
  margin-top: 127px; /*you can find the gap in figma holding alt +mouse */
  height: 714.3px;
  left: 228px;
}
.aboutTitle {
  /* text-align: center; */
  margin-bottom: 24px;
  color: #151414;
}
.aboutText {
  text-align: center;
  margin-bottom: 16px;
  /* line-height: 26px; */
  color: #444343;
}
.aboutList {
  color: #444343;
}
/*Plan section*/
.plan {
  margin-top: 119px;
  /* margin: 0 auto; */
  /* display: flex; */
  /* align-items: center; */
  max-width: 1141px;
  height: 299.96px;
  text-align: center;
  left: 226px;
  margin-bottom: 122px;
}

.section2Title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  /* gap: 86px; */
}
.skill-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.skill-description {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}
.mindset {
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;

  left: 230px;
  /* max-width: 1140px; */
  /* background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 50%); */
  border-radius: 8px;
  /* margin-right: 230px;
  margin-left: 230px;
  margin-top: 125px;
  margin-bottom: 125px; */
  padding-top: 60px;
  padding-bottom: 60px;
}
.mindsetContainer {
  width: 459px;
  height: 182px;
  margin-left: 294px;
}
