* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* color: white; */
}
/* Navtitle*/

/*Here nav is not any class.Its a TAG*/
/* nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
.NavTitle {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 50px;
} */

.textColor {
  color: orange;
}

/*Header*/
.header {
  color: white;
  background-image: url("../images/banner/banner2.png");
  background-color: #000002;
  background-repeat: no-repeat;
  height: 800px;
  width: 1600px;
}
/*Banner*/
/* .bakgrnd{} */
.Banner {
  color: black;
  padding: 280px;
  /* display: flex; */
  /* text-align: right; */
  /*align-items:center; */
  /* text-align: left;
  justify-content: baseline; */
}
.mainText {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  margin-bottom: 24px;
  color: #151414;
}
.subText {
  color: #444343;
  font-style: normal;

  line-height: 26px;
  margin-bottom: 32px;
  /* or 162% */
  /* 
  text-align: right; */
}
.btnPrimary {
  background-color: peru;
  /* position: absolute; */
  /* width: 150px;*/
  height: 56px;

  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  border: 0;
  padding: 20px 25px;
}
/*Main*/

main {
  max-width: 1072px;
  margin: 0 auto;
}
.about {
  display: flex;
  align-items: center;
  margin-top: 127px; /*you can find the gap in figma holding alt +mouse */
  height: 714.3px;
  left: 228px;
}
.aboutTitle {
  /* text-align: center; */
  margin-bottom: 24px;
  color: #151414;
}
.aboutText {
  text-align: center;
  margin-bottom: 16px;
  /* line-height: 26px; */
  color: #444343;
}
.aboutList {
  color: #444343;
}
/*Plan section*/
.plan {
  margin-top: 119px;
  /* margin: 0 auto; */
  /* display: flex; */
  /* align-items: center; */
  max-width: 1141px;
  height: 299.96px;
  text-align: center;
  left: 226px;
  margin-bottom: 122px;
}

.section2Title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.skills-container {
  display: flex;
  justify-content: space-around;
  /* gap: 86px; */
}
.skill-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.skill-description {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
}
/*MINDSET section*/
.mindset {
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  width: 1140px;
  height: 300px;

  left: 230px;
  /* max-width: 1140px; */
  /* background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 50%); */
  border-radius: 8px;
  /* margin-right: 230px;
  margin-left: 230px;
  margin-top: 125px;
  margin-bottom: 125px; */
  padding-top: 60px;
  padding-bottom: 60px;
}
.mindsetContainer {
  width: 459px;
  height: 182px;
  margin-left: 294px;
}

.mindsetText {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 24px; /*between text and button*/
  color: #ffffff;
}
.btnPrimary2 {
  width: 160px;
  height: 64px;
  color: #f15b22; /*coloring call now*/
  background: #ffffff;
  border-radius: 5px;

  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border: 0;
  padding: 20px 25px;
}
/*Footer Area . Divide the two portion left and right in two div*/
.footerContainer {
  display: flex;
  justify-content: space-around;
  background: #151414;
  /* width: 1600px;*/
  height: 577px;
}
.footerLeft {
  margin-top: 130px;
  margin-bottom: 130px;
  width: 485px;
  height: 317px;
}
.footerLeftTitle {
  color: #f8f8f8;
  margin-bottom: 16px;
  font-family: "Work Sans";
}
.footerLeftDescription {
  color: #f8f8f8;
  font-family: "Work Sans";
  font-style: normal;
  line-height: 26px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.email {
  color: #f8f8f8;
  font-style: normal;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}
.phone {
  color: #f8f8f8;
  margin-bottom: 32px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.Footericon {
  width: 175px;
  height: 46px;
  display: flex; /* to strecth those icon on their div I apply flex*/
  justify-content: space-between;
}
.footerRight {
  margin-top: 130px; /* show it In figma Alt + mouse*/
  margin-bottom: 243px; /* show it In figma Alt + mouse*/
  width: 325px;
  height: 204px;
}
.footerRightTitle {
  color: #f8f8f8;
  margin-bottom: 31px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
}
.enterEmail {
  color: #f8f8f8;
  margin-bottom: 16px;
  font-family: "Work Sans";

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* Dark 07 */
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 20px;
  padding-right: 158px;
  color: #f3f3f3;
}

.Button3 {
  font-family: "Work Sans";
  width: 160px;
  height: 64px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #f15b22;
}
